# Godot 4+ specific ignores
.godot/
*.translation

# External IDEs
.vscode/
.idea/
*.sln
*.csproj
*.user

# System/OS
.DS_Store
Thumbs.db
dp.*
dp.console.exe

# Node
node_modules/

# Generated Map Assets
src/data/quadsphere_globe.res
src/data/map_data.bin
src/data/quad_data.json
host.log
client.log
*.log
node_modules
dp_mac.zip
